/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
  background-image: url("/img/ground.gif")

.home
  width: 100%!important
  max-width: 100%!important
  height: 360px!important
  max-height: 360px!important
  padding: 3.6rem 0!important

.navbar
  margin: 0 auto!important
  background: #fff!important
  max-width: 800px!important
  border-bottom: solid #d2d9e9 1px!important

.navbar .site-name
  font-size: 2.65em!important

.theme-default-content
  background-color: white!important

.custom-block
  border-color: #d2d9e9!important

.footer
  display: none