/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home
  width: 100%!important
  max-width: 100%!important
  height 360px!important
  max-height: 360px!important
  padding: 3.6rem 0!important

.footer
  display: none